:root {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #0D1B1E;
    color: #C3DBC5;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 400px;
}

li {
    cursor: pointer;
}

.hidden {
    display: none;
}

.done {
    text-decoration: line-through;
    color: grey;
}
